<div class="panel">
    <h3>{{ include.title }}</h3>
    <ul class="post-list">
        {% for post in include.posts %}
        <li>
            <a href="{{ post.url }}">
                <div class="img">
                    <img src="{{ post.image_base }}-thumb.jpg" alt="{{ post.image_text }}">
                </div>
                <div class="content">
                    <h5>{{ post.title }}</h5>
                    <span>{{ post.date | date:'%B %-d, %Y' }}</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>