@import '../mixins.scss';
@import '../variables.scss';

.hero {
  margin-bottom: $grid-spacing-mobile;
  position: relative;
}

.hero-text {
  bottom: $grid-spacing-mobile;
  left: $grid-spacing-mobile;
  position: absolute;

  > h2 {
    color: $color-white;
    margin: 0;
  }
}

@media (min-width: $breakpoint-mobile) {
  .hero {
    margin-bottom: $grid-spacing;
  }

  .hero-text {
    bottom: $grid-spacing;
    left: $grid-spacing;
  }
}

@media (min-width: $breakpoint-xl) {
  .hero-text {
    > h2 {
      @include rem(font-size, 35 / 16);
    }
  }
}
