---
layout: default
---

{% assign posts = site.posts | where:'layout',page.post_type | sort:'date' | reverse %}

<div class="container">
    <h1>{{ page.title }}</h1>
    <ul class="post-archive">
        {% for post in posts %}
        <li class="post-item">
            <a href="{{ post.url }}">
                <div class="img">
                    <img src="{{ post.image_base }}-thumb.jpg" alt="{{ post.image_text }}">
                </div>
                <div class="content">
                    <h2>{{ post.title }}</h2>
                    <span>{{ post.date | date:'%B %-d, %Y' }}</span>
                    <p>{{ post.blurb }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>